<link rel="stylesheet" href="~/css/DashBoard.css" />
<header style="background-color:gray; width:97vh;height:38px;max-width:615px;">
    <h4 style="color:white;text-align:center;">DASH BOARD <button id="KillWind" class="btn btn-danger" style="float:right;position:relative">X</button></h4>

</header>
<div>


    <div id="DisplayConcentricBoard" style="width:97vh;margin-top:38px;max-width:610px;">
    </div>
</div>