@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<SquadMatching.Models.TurmaModel>
<script src="~/radial-progress-bar-master/radial-progress-bar.js"></script>
@{ Layout = "_LayoutPerfil";}

<link rel="stylesheet" href="~/css/Perfil3.css" />

<div class="TabContainer">
    <div class="TurmaContainer">
        @foreach (var turma in Model)
        {
            <div class="TurmaCard">
                <header>@turma.Nome_Turma @turma.Nome_Materia</header>
                <footer>

                    <a class="btn btn-danger" style="color:white!important" onclick="location.href = '@Url.Action("Turma", "Home")?idt=@turma.CD_Turma&&idm=@turma.CD_Materia&&nome=@turma.Nome_Turma'">
                        Acessar <i class="fa fa-arrow-alt-circle-right"></i>
                    </a>

                </footer>
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/radial-progress-bar-master/radial-progress-bar.js"></script>